Repository zainab-ali/aquascape: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label examples PRs, Label site PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 3, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@8, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label examples PRs
  conditions:
  - files~=^examples/
  actions:
    label:
      add:
      - examples
      remove: []
- name: Label site PRs
  conditions:
  - files~=^site/
  actions:
    label:
      add:
      - site
      remove: []

Update github workflows.
  .github/workflows/ci.yml
Due: none

Add nopublish plugin.
  build.sbt
Due: none

Remove keys.
  examples/src/main/scala/Examples.scala
Due: Label examples PRs

Update workflows for publish.
  .github/workflows/ci.yml
Due: none

Port examples to ScalaJS (#56)
  .github/workflows/ci.yml
  .gitignore
  .mergify.yml
  build.sbt
  core/jvm/src/test/scala/aquascape/ExampleSuite.scala
  core/jvm/src/test/scala/aquascape/golden/GoldenSuite.scala
  core/jvm/src/test/scala/aquascape/golden/RangeMacro.scala
  core/jvm/src/test/scala/aquascape/golden/model.scala
  core/jvm/src/test/scala/aquascape/golden/writeSource.scala
  core/shared/src/main/scala/aquascape/drawing/diagramToPicture.scala
  core/shared/src/main/scala/aquascape/drawing/model.scala
  docs/a11y-dark.min.css
  docs/basic/compile.md
  docs/basic/drop.md
  docs/basic/filtering.md
  docs/basic/take.md
  docs/broadcastThrough/broadcastThrough.md
  docs/chunking/buffering.md
  docs/chunking/chunks.md
  docs/combining/append.md
  docs/combining/flatMap.md
  docs/combining/merge.md
  docs/effects/effects.md
  docs/errors/handling-errors.md
  docs/errors/raising-errors.md
  docs/highlight.min.js
  docs/highlightWrapper.js
  docs/main.css
  docs/resources/bracket.md
  docs/time/time.md
  examples/src/main/scala/CodeMacro.scala
  examples/src/main/scala/Example.scala
  examples/src/main/scala/Examples.scala
  flake.lock
  flake.nix
  project/AquascapeDirectives.scala
Due: Label core PRs, Label examples PRs

Update munit to 1.0.1
  build.sbt
Due: none

Support a single input element.
  build.sbt
  docs/aquascape.js
  docs/basic/take.md
  docs/highlightWrapper.js
  docs/main.css
  examples/src/main/scala/Example.scala
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/formCodecs.scala
  project/AquascapeDirectives.scala
Due: Label examples PRs

Support a single input element. (#58)
  build.sbt
  docs/aquascape.js
  docs/basic/take.md
  docs/highlightWrapper.js
  docs/main.css
  examples/src/main/scala/Example.scala
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/formCodecs.scala
  project/AquascapeDirectives.scala
Due: Label examples PRs

Add reference for merge.
  core/shared/src/main/scala/aquascape/ext.scala
  docs/combining/merge.md
  examples/src/main/scala/CodeMacro.scala
  examples/src/main/scala/Example.scala
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/formCodecs.scala
  examples/src/main/scala/merge.scala
Due: Label core PRs, Label examples PRs

Add reference for merge. (#59)
  core/shared/src/main/scala/aquascape/ext.scala
  docs/combining/merge.md
  examples/src/main/scala/CodeMacro.scala
  examples/src/main/scala/Example.scala
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/formCodecs.scala
  examples/src/main/scala/merge.scala
Due: Label core PRs, Label examples PRs

Improve code block formatting.
  build.sbt
  examples/src/main/scala/CodeMacro.scala
  examples/src/test/scala/CodeSuite.scala
  project/plugins.sbt
Due: Label examples PRs

Improve code block formatting. (#60)
  build.sbt
  examples/src/main/scala/CodeMacro.scala
  examples/src/test/scala/CodeSuite.scala
  project/plugins.sbt
Due: Label examples PRs

Add tests for code snippet generation.
  build.sbt
  examples/src/main/scala/CodeMacro.scala
  examples/src/test/scala/CodeSuite.scala
Due: Label examples PRs

Minor improvements.
  docs/combining/merge.md
  examples/src/main/scala/Example.scala
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/InputBox.scala
  examples/src/main/scala/merge.scala
  project/AquascapeDirectives.scala
Due: Label examples PRs

Clean up examples.
  docs/combining/merge.md
  examples/src/main/scala/merge.scala
Due: Label examples PRs

Update sbt-snapshot4s to 0.1.3
  project/plugins.sbt
Due: none

Add flatMap.
  docs/combining/flatMap.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/flatMap.scala
Due: Label examples PRs

More cleanups.
  docs/combining/flatMap.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/flatMap.scala
  examples/src/main/scala/merge.scala
  examples/src/main/scala/syntax.scala
  project/AquascapeDirectives.scala
Due: Label examples PRs

Reformat build.sbt
  build.sbt
  project/AquascapeDirectives.scala
Due: none

Add flatMap reference guide. (#62)
  build.sbt
  docs/combining/flatMap.md
  docs/combining/merge.md
  examples/src/main/scala/CodeMacro.scala
  examples/src/main/scala/Example.scala
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/InputBox.scala
  examples/src/main/scala/flatMap.scala
  examples/src/main/scala/merge.scala
  examples/src/main/scala/syntax.scala
  examples/src/test/scala/CodeSuite.scala
  project/AquascapeDirectives.scala
Due: Label examples PRs

Add reference guide for append.
  docs/combining/append.md
  examples/src/main/scala/append.scala
Due: Label examples PRs

Add reference guide for append. (#63)
  docs/combining/append.md
  examples/src/main/scala/append.scala
Due: Label examples PRs

Add reference guide for evalMap.
  docs/effects/effects.md
  docs/effects/evalMap.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/evalMap.scala
Due: Label examples PRs

Add reference guide for take.
  docs/basic/take.md
  examples/src/main/scala/take.scala
Due: Label examples PRs

Add reference guide for drop.
  docs/basic/drop.md
  examples/src/main/scala/drop.scala
Due: Label examples PRs

Correct typos in take.
  docs/basic/take.md
Due: none

Correct typos in append.
  docs/combining/append.md
Due: none

Remove drop and take examples.
  examples/src/main/scala/Examples.scala
Due: Label examples PRs

Add guide for filter.
  docs/basic/filter.md
  docs/basic/filtering.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/filter.scala
Due: Label examples PRs

Add guide for chunks.
  docs/chunking/chunk.md
  docs/chunking/chunks.md
  examples/src/main/scala/chunk.scala
  examples/src/main/scala/syntax.scala
Due: Label examples PRs

Update fs2-core, fs2-io to 3.11.0
  build.sbt
Due: none

Headers.
  docs/chunking/chunk.md
  docs/errors/errors.md
  docs/errors/handling-errors.md
  docs/errors/raising-errors.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/chunk.scala
  examples/src/main/scala/errors.scala
Due: Label examples PRs

Add reference guide for evalMap, drop, take, filter and chunks. (#64)
  docs/basic/drop.md
  docs/basic/filter.md
  docs/basic/filtering.md
  docs/basic/take.md
  docs/chunking/chunk.md
  docs/chunking/chunks.md
  docs/combining/append.md
  docs/effects/effects.md
  docs/effects/evalMap.md
  docs/errors/errors.md
  docs/errors/handling-errors.md
  docs/errors/raising-errors.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/chunk.scala
  examples/src/main/scala/drop.scala
  examples/src/main/scala/errors.scala
  examples/src/main/scala/evalMap.scala
  examples/src/main/scala/filter.scala
  examples/src/main/scala/syntax.scala
  examples/src/main/scala/take.scala
Due: Label examples PRs
