Repository zainab-ali/aquascape: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label examples PRs, Label site PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label examples PRs:
  label:
    add:
    - examples
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Add reference guide to bracket.
  docs/resources/bracket.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/bracket.scala
Due: Label examples PRs

Delete unused examples.
  examples/src/main/scala/Examples.scala
Due: Label examples PRs

Add reference guide on bracket (#66)
  docs/resources/bracket.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/bracket.scala
Due: Label examples PRs

Restructure reference guide.
  docs/basic/compile.md
  docs/broadcastThrough/broadcastThrough.md
  docs/chunking/buffering.md
  docs/effects/effects.md
  docs/reference/append.md
  docs/reference/bracket.md
  docs/reference/chunk.md
  docs/reference/drop.md
  docs/reference/errors.md
  docs/reference/evalMap.md
  docs/reference/filter.md
  docs/reference/flatMap.md
  docs/reference/merge.md
  docs/reference/take.md
  docs/time/time.md
Due: none

Restructure reference guide.
  docs/README.md
  docs/reference/README.md
Due: none

Restructure reference guide. (#67)
  docs/README.md
  docs/basic/compile.md
  docs/broadcastThrough/broadcastThrough.md
  docs/chunking/buffering.md
  docs/effects/effects.md
  docs/reference/README.md
  docs/reference/append.md
  docs/reference/bracket.md
  docs/reference/chunk.md
  docs/reference/drop.md
  docs/reference/errors.md
  docs/reference/evalMap.md
  docs/reference/filter.md
  docs/reference/flatMap.md
  docs/reference/merge.md
  docs/reference/take.md
  docs/time/time.md
Due: none

Add link to homepage in main navigation bar.
  build.sbt
  docs/reference/merge.md
Due: none

Add link to homepage in main navigation bar. (#68)
  build.sbt
  docs/reference/merge.md
Due: none

Fix position of clock icon.
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
Due: Label core PRs

Fix font colour of clock icon.
  core/shared/src/main/scala/aquascape/drawing/diagramToPicture.scala
Due: Label core PRs

Add reference guide on time.
  docs/reference/README.md
  docs/reference/time.md
  examples/src/main/scala/time.scala
Due: Label examples PRs

Update sbt-snapshot4s to 0.1.4
  project/plugins.sbt
Due: none

Update sbt-typelevel, ... to 0.7.3
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

Remove time examples.
  examples/src/main/scala/Examples.scala
Due: Label examples PRs

Update sbt-snapshot4s to 0.1.4 (#69)
  project/plugins.sbt
Due: none

Update fs2-core, fs2-io to 3.11.0 (#65)
  build.sbt
Due: none

Update sbt-typelevel, ... to 0.7.3 (#70)
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

Fix up time guide.
  docs/reference/time.md
Due: none

Add reference guide on time (#71)
  core/shared/src/main/scala/aquascape/drawing/diagramToPicture.scala
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
  docs/reference/README.md
  docs/reference/time.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/time.scala
Due: Label core PRs, Label examples PRs

Add guide on compile.
  docs/reference/README.md
  docs/reference/compile.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/compile.scala
Due: Label examples PRs

Add guide on compile. (#72)
  docs/reference/README.md
  docs/reference/compile.md
  examples/src/main/scala/Examples.scala
  examples/src/main/scala/compile.scala
Due: Label examples PRs

Update munit to 1.0.2
  build.sbt
Due: none

Update tlBaseVersion.
  build.sbt
Due: none

Update tlBaseVersion. (#75)
  build.sbt
Due: none

Add a symbol guide.
  core/shared/src/main/scala/aquascape/drawing/Symbols.scala
  core/shared/src/main/scala/aquascape/drawing/diagramToPicture.scala
  docs/README.md
  docs/how-to-read-the-diagrams.md
  docs/main.css
  examples/src/main/scala/Example.scala
  examples/src/main/scala/SymbolGuide.scala
  project/AquascapeDirectives.scala
Due: Label core PRs, Label examples PRs

Add a symbol guide. (#76)
  core/shared/src/main/scala/aquascape/drawing/Symbols.scala
  core/shared/src/main/scala/aquascape/drawing/diagramToPicture.scala
  docs/README.md
  docs/how-to-read-the-diagrams.md
  docs/main.css
  examples/src/main/scala/Example.scala
  examples/src/main/scala/SymbolGuide.scala
  project/AquascapeDirectives.scala
Due: Label core PRs, Label examples PRs

Refactor sortLabels function.
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
  docs/reference/topic.md
  examples/src/main/scala/topic.scala
Due: Label core PRs, Label examples PRs

Support multiple scapes on one diagram.
  core/shared/src/main/scala/aquascape/drawing/Symbols.scala
  core/shared/src/main/scala/aquascape/drawing/diagramToPicture.scala
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
  core/shared/src/main/scala/aquascape/drawing/model.scala
  core/shared/src/main/scala/aquascape/ext.scala
  core/shared/src/main/scala/aquascape/model.scala
  core/shared/src/main/scala/aquascape/pen.scala
  core/shared/src/main/scala/aquascape/stack.scala
  core/shared/src/main/scala/aquascape/stage.scala
  core/shared/src/test/scala/aquascape/ScapeSuite.scala
  examples/src/main/scala/topic.scala
Due: Label core PRs, Label examples PRs

Correct broken link.
  project/AquascapeDirectives.scala
Due: none

Correct broken link in diagram footer. (#77)
  project/AquascapeDirectives.scala
Due: none

Path conditions:
  Label core PRs: any of: ^core/
  Label examples PRs: any of: ^examples/
  Label site PRs: any of: ^site/
