Repository zainab-ali/aquascape: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label examples PRs, Label site PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 3, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3, temurin@8, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label examples PRs
  conditions:
  - files~=^examples/
  actions:
    label:
      add:
      - examples
      remove: []
- name: Label site PRs
  conditions:
  - files~=^site/
  actions:
    label:
      add:
      - site
      remove: []

Render time and effects on a lower line.
  core/shared/src/main/scala/aquascape/drawing/Symbols.scala
  core/shared/src/main/scala/aquascape/drawing/diagramToPicture.scala
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
  core/shared/src/main/scala/aquascape/drawing/model.scala
  core/shared/src/main/scala/aquascape/model.scala
  core/shared/src/main/scala/aquascape/stage.scala
  core/shared/src/test/scala/aquascape/ScapeSuite.scala
  docs/how-to-read-the-diagrams.md
Due: Label core PRs

Add topic docs.
  docs/reference/topic.md
  examples/src/main/scala/SymbolGuide.scala
  examples/src/main/scala/topic.scala
Due: Label examples PRs

More docs.
  docs/reference/README.md
  docs/reference/topic.md
  examples/src/main/scala/SymbolGuide.scala
  examples/src/main/scala/topic.scala
Due: Label examples PRs

Remove mima check.
  .github/workflows/ci.yml
  build.sbt
Due: none

Add guide on topic. (#78)
  .github/workflows/ci.yml
  build.sbt
  core/shared/src/main/scala/aquascape/drawing/Symbols.scala
  core/shared/src/main/scala/aquascape/drawing/diagramToPicture.scala
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
  core/shared/src/main/scala/aquascape/drawing/model.scala
  core/shared/src/main/scala/aquascape/ext.scala
  core/shared/src/main/scala/aquascape/model.scala
  core/shared/src/main/scala/aquascape/pen.scala
  core/shared/src/main/scala/aquascape/stack.scala
  core/shared/src/main/scala/aquascape/stage.scala
  core/shared/src/test/scala/aquascape/ScapeSuite.scala
  docs/how-to-read-the-diagrams.md
  docs/reference/README.md
  docs/reference/topic.md
  examples/src/main/scala/SymbolGuide.scala
  examples/src/main/scala/topic.scala
Due: Label core PRs, Label examples PRs

Update sbt-snapshot4s to 0.1.5
  project/plugins.sbt
Due: none

Update sbt-snapshot4s to 0.1.5 (#79)
  project/plugins.sbt
Due: none

Rework platform companion.
  build.sbt
  core/js/src/main/scala/aquascape/PlatformCompanion.scala
  core/jvm/src/main/scala/aquascape/AquascapeApp.scala
  core/jvm/src/main/scala/aquascape/PlatformCompanion.scala
  core/shared/src/main/scala/aquascape/AquascapeApp.scala
  docs/README.md
Due: Label core PRs

Restructure docs for usage.
  core/jvm/src/main/scala/aquascape/PlatformCompanion.scala
  docs/README.md
  docs/how-to-read-the-diagrams.md
  docs/how-to-write-the-diagrams.md
  docs/reference/README.md
Due: Label core PRs

Update sbt, sbt-dependency-tree to 1.10.2
  project/build.properties
Due: none

Correct typo in usage.
  docs/README.md
Due: none

Add a note on best practices.
  docs/how-to-write-the-diagrams.md
Due: none

Support Scala.js aquascape app (#80)
  build.sbt
  core/js/src/main/scala/aquascape/PlatformCompanion.scala
  core/jvm/src/main/scala/aquascape/AquascapeApp.scala
  core/jvm/src/main/scala/aquascape/PlatformCompanion.scala
  core/shared/src/main/scala/aquascape/AquascapeApp.scala
  docs/README.md
  docs/how-to-read-the-diagrams.md
  docs/how-to-write-the-diagrams.md
  docs/reference/README.md
Due: Label core PRs

Update doodle-core, doodle-java2d, ... to 0.24.0
  build.sbt
Due: none

Update doodle-core, doodle-java2d, ... to 0.25.0
  build.sbt
Due: none

Update tlBaseVersion
  build.sbt
Due: none

Update tlBaseVersion (#87)
  build.sbt
Due: none

Update sbt-snapshot4s to 0.1.6
  project/plugins.sbt
Due: none

Update scala3-library, ... to 3.3.4
  build.sbt
Due: none

Update doodle-core, doodle-java2d, ... to 0.26.0
  build.sbt
Due: none

Update sbt-snapshot4s to 0.1.6 (#86)
  project/plugins.sbt
Due: none

Update doodle-core, doodle-java2d, ... to 0.26.0 (#83)
  build.sbt
Due: none

Update sbt-scalajs, scalajs-library_2.13, ... to 1.17.0
  project/plugins.sbt
Due: none

Update sbt-scalajs, scalajs-library_2.13, ... to 1.17.0 (#84)
  project/plugins.sbt
Due: none

Remove scope and evalerror cases.
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
  core/shared/src/main/scala/aquascape/model.scala
  core/shared/src/main/scala/aquascape/stage.scala
Due: Label core PRs

Remove scopes.
  core/shared/src/main/scala/aquascape/stage.scala
  core/shared/src/test/scala/aquascape/ScapeSuite.scala
Due: Label core PRs

Remove unique and add snapshot4s and tests.
  build.sbt
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
  core/shared/src/main/scala/aquascape/errors.scala
  core/shared/src/main/scala/aquascape/model.scala
  core/shared/src/main/scala/aquascape/pen.scala
  core/shared/src/main/scala/aquascape/stack.scala
  core/shared/src/main/scala/aquascape/stage.scala
  core/shared/src/test/scala/aquascape/ScapeSuite.scala
Due: Label core PRs

Remove pprint.
  build.sbt
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
Due: Label core PRs

Add tests for drawing.
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
  core/shared/src/main/scala/aquascape/scape.scala
  core/shared/src/main/scala/aquascape/stack.scala
  core/shared/src/test/scala/aquascape/ScapeSuite.scala
  core/shared/src/test/scala/aquascape/drawing/EventsToDiagramSuite.scala
Due: Label core PRs

Remove stale test.
  core/jvm/src/test/scala/aquascape/DrawSuite.notscala
Due: Label core PRs

Scalafix.
  core/shared/src/main/scala/aquascape/model.scala
  core/shared/src/main/scala/aquascape/stack.scala
  core/shared/src/test/scala/aquascape/ScapeSuite.scala
  core/shared/src/test/scala/aquascape/drawing/EventsToDiagramSuite.scala
Due: Label core PRs

Cleanups (#88)
  build.sbt
  core/jvm/src/test/scala/aquascape/DrawSuite.notscala
  core/shared/src/main/scala/aquascape/drawing/eventsToDiagram.scala
  core/shared/src/main/scala/aquascape/errors.scala
  core/shared/src/main/scala/aquascape/model.scala
  core/shared/src/main/scala/aquascape/pen.scala
  core/shared/src/main/scala/aquascape/scape.scala
  core/shared/src/main/scala/aquascape/stack.scala
  core/shared/src/test/scala/aquascape/ScapeSuite.scala
  core/shared/src/test/scala/aquascape/drawing/EventsToDiagramSuite.scala
Due: Label core PRs
